body {
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px 20px;
}
.header-icon {
    cursor: pointer;
    font-weight: 600;
    font-size: 22px;
    align-items: center;
    display: flex;
}
.header-icon > svg {
    margin-right: 8px;
}
.user {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.user > svg {
    margin-right: 20px;
    cursor: pointer;
}

.user-hi {
    font-weight: 500;
}

.user-avatar {
    cursor: pointer;
    border-radius: 100%;
    color: #fff;
    font-weight: bold;
    background-color: #36A0EA;
    font-size: 16px;
    margin-left: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-avatar > svg {
    margin-right: 20px;
}

.search-all input {
   background-color: #fff;
   border: none;
   box-shadow: -2px 0 3px rgba(80,95,121,.0493093), 0 2px 3px rgba(80,95,121,.05);
}

.search-all .chakra-input__group {
    min-width: 400px;
    margin-left: 20px;
}

.search-all > input:focus {
   
}
.nav-bar {
    margin: 14px 20px 12px 20px;
    width: 180px;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
}

.body-container {
    margin-left: 230px;
    z-index: 2;
    position: relative;
    background-color: #EDF2FC;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    min-height: 100vh;
}
.body-app {
    padding: 20px;
    overflow: auto;
    height: calc(100vh - 64px);
}

.nav-bar-new {
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
    padding: 1.125rem 1.25rem 1.125rem 1rem;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    margin-top: 60px;
    font-weight: 500;
    width: 100px;
}

.nav-bar-new:hover {
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
    background-color: #EDF1FA;
}

.nav-bar-new svg {
    margin-right: 8px;
}

.left-menu-list-menu {
    color: #637C8D;
    fill: #637C8D;
    margin-top: 60px;
}

.left-menu-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    margin: 0 -20px;
    padding: 10px 20px;
}

.left-menu-item:hover {
    background-color: #E6E7EA;
    color: #637C8D;
}
.left-menu-item.active {
    background-color: #e1f3ff;
    color: #001d35;
}
.left-menu-item svg {
    margin-right: 8px;
}
.drive-add-new {
    display: flex;
    align-items: center;
}
.drive-add-new svg {
    margin-right: 8px;
}

.search-wrapper {
    position: absolute;
    top: 62px;
    background-color: #fff;
    left: 40px;
    width: 420px;
    z-index: 2;
    box-shadow: -2px 0 3px rgba(80,95,121,.0493093), 0 2px 3px rgba(80,95,121,.05);
    border-radius: 8px;
}

.search-item {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 14px;
}

.search-item-container:hover {
    background-color: #EDF2FC;
}

.search-clear {
    cursor: pointer;
    border-radius: 100%;
}
.search-clear:hover {
    /* background-color: #dadce0; */
}

.user-avatar-container {
    display: flex;
    height: 160px;
    align-items: center;
    flex-direction: column;
    background-color: #F7F9FC;
}
.user-avatar-title {
    font-size: 30px;
    margin-top: 20px;
    font-weight: 500;
}

.user-avatar-sso {
    margin-top: 20px;
    cursor: pointer;
    border-radius: 16px;
    border: 1px solid black;
    padding: 8px 10px;
}
.user-avatar-sso:hover {
    background-color: #c6c7ca;
}