
.context-menu {
    position: fixed;
    background-color: #fff;
    z-index: 100;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 0px 8px rgba(0, 0, 0, 0.1), 0px 0px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.context-menu > div > div {
    position: inherit !important;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    width: 100%;
}