
.drive-path {
    display: flex;
    align-items: center;
}

.drive-path-divide {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #4e5a73;
    padding: 0 4px;
    margin: 0px 4px;
}

.drive-path-txt {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #4e5a73;
    padding: 0 4px;
    cursor: pointer;
    border-radius: 6px;
}

.drive-path-txt.current {
    color: #021337;
}
.drive-path-item {
    
}
.quick-access-title.drive-path-item {
    cursor: pointer;
    border-radius: 6px;
    padding: 0 4px;
}
.quick-access-title.drive-path-item:hover {
    background-color: #dadce0;
}

.drive-path-item:hover .drive-path-txt:not(.current) {
    background-color: #dadce0;
}