.list-folder-files {
    background-color: #fff;
    border-radius: 4px;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.folder-item {
    height: 180px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 220px;
    flex: 1 1 220px;
    max-width: 100%;
    min-width: 0;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    width: 100%;
    border-radius: 16px;
    padding: 8px 0;
    flex-direction: column;
    background-color: #EDF2FC;
    cursor: pointer;
}

#main_folder_root {
    min-height: 100%;
}

.folder-item:hover {
    background-color: #E1E5EA;
}

.folder-item-title {
    display: flex;
    align-items: center;
    padding: 0 16px;
    margin: 4px 0;
}

.folder-item-title svg {
    margin-right: 8px;
}

.folder-item-content {
    background-color: #fff;
    height: 100%;
    margin: 0 8px 8px 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-item-content {
    display: inline-flex;
    justify-content: center;
    min-height: 100px;
    align-items: center;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.file-item-content>img {
    min-height: 40px;
    height: 100%;
    display: flex;
    object-fit: contain;
    width: auto;
    box-shadow: 0 2px 10px rgb(33 33 33/15%);
}

.folder-item-title-txt {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.folder-item-title.file-item-title>svg {
    fill: #36A0EA;
}
.drive-empty {
    min-height: 500px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.drive-empty svg {
    fill: #81899B;
}