.container-loading {
    position: relative;
    margin: 155px auto;
    width: 200px;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


@keyframes a-lb {
    0% {
        transform: translateX(-300px)
    }

    5% {
        transform: translateX(-240px)
    }

    15% {
        transform: translateX(-30px)
    }

    25% {
        transform: translateX(-30px)
    }

    30% {
        transform: translateX(-20px)
    }

    45% {
        transform: translateX(-20px)
    }

    50% {
        transform: translateX(-15px)
    }

    65% {
        transform: translateX(-15px)
    }

    70% {
        transform: translateX(-10px)
    }

    95% {
        transform: translateX(-10px)
    }

    100% {
        transform: translateX(-5px)
    }
}

@keyframes a-s {
    100% {
        opacity: 1
    }
}

@keyframes a-h {
    100% {
        opacity: 0
    }
}

@keyframes a-nt {
    100% {
        transform: none
    }
}

@keyframes a-e {
    43% {
        animation-timing-function: cubic-bezier(.8, 0, .2, 1);
        transform: scale(.75)
    }

    60% {
        animation-timing-function: cubic-bezier(.8, 0, 1, 1);
        transform: translateY(-16px)
    }

    77% {
        animation-timing-function: cubic-bezier(.16, 0, .2, 1);
        transform: none
    }

    89% {
        animation-timing-function: cubic-bezier(.8, 0, 1, 1);
        transform: translateY(-5px)
    }

    100% {
        transform: none
    }
}

@keyframes a-ef {
    24% {
        animation-timing-function: cubic-bezier(.8, 0, .6, 1);
        transform: scaleY(.42)
    }

    52% {
        animation-timing-function: cubic-bezier(.63, 0, .2, 1);
        transform: scaleY(.98)
    }

    83% {
        animation-timing-function: cubic-bezier(.8, 0, .84, 1);
        transform: scaleY(.96)
    }

    100% {
        transform: none
    }
}

@keyframes a-efs {
    24% {
        animation-timing-function: cubic-bezier(.8, 0, .6, 1);
        opacity: .3
    }

    52% {
        animation-timing-function: cubic-bezier(.63, 0, .2, 1);
        opacity: .03
    }

    83% {
        animation-timing-function: cubic-bezier(.8, 0, .84, 1);
        opacity: .05
    }

    100% {
        opacity: 0
    }
}

@keyframes a-es {
    24% {
        animation-timing-function: cubic-bezier(.8, 0, .6, 1);
        transform: rotate(-25deg)
    }

    52% {
        animation-timing-function: cubic-bezier(.63, 0, .2, 1);
        transform: rotate(-42.5deg)
    }

    83% {
        animation-timing-function: cubic-bezier(.8, 0, .84, 1);
        transform: rotate(-42deg)
    }

    100% {
        transform: rotate(-43deg)
    }
}

.loading-box {
    position: relative;
}

.loading-main {
    width: 16px;
    height: 16px;
    margin-top: -8px;
    margin-left: -8px;
    -webkit-animation: spin 0.7s linear infinite;
    -moz-animation: spin 0.7s linear infinite;
    animation: spin 0.7s linear infinite;
    border-style: solid;
    border-width: 2px;
    border-color: #0279C7;
    border-right-color: transparent;
    border-radius: 100%;
    z-index: 1;
}

#loading {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #fff
}


#hrws-static-loading {
    width: 400px;
    height: 8px;
    background: #fff;
    border-radius: 7px;
    position: relative;
    margin-top: 64px;
    margin-bottom: 32px;
}

#path-connector {
    animation: animateOsc 20s linear infinite;
}

#hrws-static-loading:before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, #2979FF 0%, #FCD855 17.08%, #2979FF 38.35%, #00B4FF 49.03%, #FCD855 61.45%, #2979FF 72.81%, #00B4FF 100%);
    border-radius: 7px;
    animation: animateOsc 20s linear infinite;
    background-size: 500%;
}

#hrws-static-loading:after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, #2979FF 0%, #FCD855 17.08%, #2979FF 38.35%, #00B4FF 49.03%, #FCD855 61.45%, #2979FF 72.81%, #00B4FF 100%);
    border-radius: 7px;
    animation: animateOsc 6s linear;
    background-size: 500%;
}

@keyframes animateOsc {
    0% {
        background-position: 0 0;
        max-width: 1%;
    }

    0% {
        background-position: 500% 0;
    }

    100% {
        max-width: 100%;
        background-position: 0 0;
    }

    100% {
        max-width: 100%;
        background-position: 0% 0;
    }
}


.loading-main {
    position: absolute;
    left: 50%;
    top: 50%;
}

.loading-icon {
    min-height: 52px;
}

.loading-icon>.loading-main {
    width: 32px;
    height: 32px;
    margin-top: -16px;
    margin-left: -16px;
}

/* MAG */

/***************************************************
 * Generated by SVG Artista on 12/27/2022, 10:51:02 AM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

@-webkit-keyframes animate-svg-fill-1-mag {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

@keyframes animate-svg-fill-1-mag {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

.svg-elem-1-mag {
    -webkit-animation: animate-svg-fill-1-mag 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.4s both;
    animation: animate-svg-fill-1-mag 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.4s both;
}

@-webkit-keyframes animate-svg-fill-2-mag {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(232, 234, 237);
    }
}

@keyframes animate-svg-fill-2-mag {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(232, 234, 237);
    }
}

.svg-elem-2-mag {
    -webkit-animation: animate-svg-fill-2-mag 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.5s both;
    animation: animate-svg-fill-2-mag 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.5s both;
}

@-webkit-keyframes animate-svg-fill-3-mag {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(232, 234, 237);
    }
}

@keyframes animate-svg-fill-3-mag {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(232, 234, 237);
    }
}

.svg-elem-3-mag {
    -webkit-animation: animate-svg-fill-3-mag 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.6000000000000001s both;
    animation: animate-svg-fill-3-mag 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.6000000000000001s both;
}

@-webkit-keyframes animate-svg-fill-4-mag {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(232, 234, 237);
    }
}

@keyframes animate-svg-fill-4-mag {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(232, 234, 237);
    }
}

.svg-elem-4-mag {
    -webkit-animation: animate-svg-fill-4-mag 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.7000000000000001s both;
    animation: animate-svg-fill-4-mag 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.7000000000000001s both;
}

@-webkit-keyframes animate-svg-fill-5-mag {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(232, 234, 237);
    }
}

@keyframes animate-svg-fill-5-mag {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(232, 234, 237);
    }
}

.svg-elem-5-mag {
    -webkit-animation: animate-svg-fill-5-mag 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.8s both;
    animation: animate-svg-fill-5-mag 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.8s both;
}

@-webkit-keyframes animate-svg-fill-6-mag {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(232, 234, 237);
    }
}

@keyframes animate-svg-fill-6-mag {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(232, 234, 237);
    }
}

.svg-elem-6-mag {
    -webkit-animation: animate-svg-fill-6-mag 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.9s both;
    animation: animate-svg-fill-6-mag 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.9s both;
}

@-webkit-keyframes animate-svg-fill-7-mag {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(232, 234, 237);
    }
}

@keyframes animate-svg-fill-7-mag {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(232, 234, 237);
    }
}

.svg-elem-7-mag {
    -webkit-animation: animate-svg-fill-7-mag 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1s both;
    animation: animate-svg-fill-7-mag 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1s both;
}

@-webkit-keyframes animate-svg-fill-8-mag {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(232, 234, 237);
    }
}

@keyframes animate-svg-fill-8-mag {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(232, 234, 237);
    }
}

.svg-elem-8-mag {
    -webkit-animation: animate-svg-fill-8-mag 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.1s both;
    animation: animate-svg-fill-8-mag 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.1s both;
}

@-webkit-keyframes animate-svg-fill-9-mag {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(232, 234, 237);
    }
}

@keyframes animate-svg-fill-9-mag {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(232, 234, 237);
    }
}

.svg-elem-9-mag {
    -webkit-animation: animate-svg-fill-9-mag 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.2000000000000002s both;
    animation: animate-svg-fill-9-mag 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.2000000000000002s both;
}

@-webkit-keyframes animate-svg-fill-10-mag {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-10-mag {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-10-mag {
    -webkit-animation: animate-svg-fill-10-mag 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.3s both;
    animation: animate-svg-fill-10-mag 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.3s both;
}

@-webkit-keyframes animate-svg-fill-11-mag {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-11-mag {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-11-mag {
    -webkit-animation: animate-svg-fill-11-mag 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.4s both;
    animation: animate-svg-fill-11-mag 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.4s both;
}

@-webkit-keyframes animate-svg-fill-12-mag {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-12-mag {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-12-mag {
    -webkit-animation: animate-svg-fill-12-mag 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.5s both;
    animation: animate-svg-fill-12-mag 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.5s both;
}

@-webkit-keyframes animate-svg-fill-13-mag {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-13-mag {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-13-mag {
    -webkit-animation: animate-svg-fill-13-mag 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.6s both;
    animation: animate-svg-fill-13-mag 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.6s both;
}

@-webkit-keyframes animate-svg-fill-14-mag {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-14-mag {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-14-mag {
    -webkit-animation: animate-svg-fill-14-mag 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.7000000000000002s both;
    animation: animate-svg-fill-14-mag 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.7000000000000002s both;
}

@-webkit-keyframes animate-svg-fill-15-mag {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-15-mag {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-15-mag {
    -webkit-animation: animate-svg-fill-15-mag 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.8000000000000003s both;
    animation: animate-svg-fill-15-mag 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.8000000000000003s both;
}

@-webkit-keyframes animate-svg-fill-16-mag {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(253, 189, 65);
    }
}

@keyframes animate-svg-fill-16-mag {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(253, 189, 65);
    }
}

.svg-elem-16-mag {
    -webkit-animation: animate-svg-fill-16-mag 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.9s both;
    animation: animate-svg-fill-16-mag 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.9s both;
}

@-webkit-keyframes animate-svg-fill-17-mag {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(41, 121, 255);
    }
}

@keyframes animate-svg-fill-17-mag {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(41, 121, 255);
    }
}

.svg-elem-17-mag {
    -webkit-animation: animate-svg-fill-17-mag 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 2s both;
    animation: animate-svg-fill-17-mag 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 2s both;
}

@-webkit-keyframes animate-svg-fill-18-mag {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(184, 189, 199);
    }
}

@keyframes animate-svg-fill-18-mag {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(184, 189, 199);
    }
}

.svg-elem-18-mag {
    -webkit-animation: animate-svg-fill-18-mag 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 2.1s both;
    animation: animate-svg-fill-18-mag 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 2.1s both;
}

/* notification list */

/***************************************************
 * Generated by SVG Artista on 12/28/2022, 9:53:56 AM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

@-webkit-keyframes animate-svg-fill-1-no {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

@keyframes animate-svg-fill-1-no {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

.svg-elem-1-no {
    -webkit-animation: animate-svg-fill-1-no 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.4s both;
    animation: animate-svg-fill-1-no 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.4s both;
}

@-webkit-keyframes animate-svg-fill-2-no {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

@keyframes animate-svg-fill-2-no {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

.svg-elem-2-no {
    -webkit-animation: animate-svg-fill-2-no 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.5s both;
    animation: animate-svg-fill-2-no 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.5s both;
}

@-webkit-keyframes animate-svg-fill-3-no {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

@keyframes animate-svg-fill-3-no {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

.svg-elem-3-no {
    -webkit-animation: animate-svg-fill-3-no 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.6000000000000001s both;
    animation: animate-svg-fill-3-no 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.6000000000000001s both;
}

@-webkit-keyframes animate-svg-fill-4-no {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

@keyframes animate-svg-fill-4-no {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

.svg-elem-4-no {
    -webkit-animation: animate-svg-fill-4-no 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.7000000000000001s both;
    animation: animate-svg-fill-4-no 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.7000000000000001s both;
}

@-webkit-keyframes animate-svg-fill-5-no {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

@keyframes animate-svg-fill-5-no {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

.svg-elem-5-no {
    -webkit-animation: animate-svg-fill-5-no 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.8s both;
    animation: animate-svg-fill-5-no 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.8s both;
}

@-webkit-keyframes animate-svg-fill-6-no {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

@keyframes animate-svg-fill-6-no {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

.svg-elem-6-no {
    -webkit-animation: animate-svg-fill-6-no 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.9s both;
    animation: animate-svg-fill-6-no 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.9s both;
}

@-webkit-keyframes animate-svg-fill-7-no {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

@keyframes animate-svg-fill-7-no {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

.svg-elem-7-no {
    -webkit-animation: animate-svg-fill-7-no 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1s both;
    animation: animate-svg-fill-7-no 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1s both;
}

@-webkit-keyframes animate-svg-fill-8-no {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

@keyframes animate-svg-fill-8-no {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

.svg-elem-8-no {
    -webkit-animation: animate-svg-fill-8-no 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.1s both;
    animation: animate-svg-fill-8-no 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.1s both;
}

@-webkit-keyframes animate-svg-fill-9-no {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

@keyframes animate-svg-fill-9-no {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

.svg-elem-9-no {
    -webkit-animation: animate-svg-fill-9-no 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.2000000000000002s both;
    animation: animate-svg-fill-9-no 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.2000000000000002s both;
}

@-webkit-keyframes animate-svg-fill-10-no {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(127, 175, 255);
    }
}

@keyframes animate-svg-fill-10-no {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(127, 175, 255);
    }
}

.svg-elem-10-no {
    -webkit-animation: animate-svg-fill-10-no 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.3s both;
    animation: animate-svg-fill-10-no 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.3s both;
}

@-webkit-keyframes animate-svg-fill-11-no {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(84, 148, 255);
    }
}

@keyframes animate-svg-fill-11-no {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(84, 148, 255);
    }
}

.svg-elem-11-no {
    -webkit-animation: animate-svg-fill-11-no 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.4s both;
    animation: animate-svg-fill-11-no 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.4s both;
}

@-webkit-keyframes animate-svg-fill-12-no {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(41, 121, 255);
    }
}

@keyframes animate-svg-fill-12-no {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(41, 121, 255);
    }
}

.svg-elem-12-no {
    -webkit-animation: animate-svg-fill-12-no 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.5s both;
    animation: animate-svg-fill-12-no 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.5s both;
}

@-webkit-keyframes animate-svg-fill-13-no {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(169, 201, 255);
    }
}

@keyframes animate-svg-fill-13-no {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(169, 201, 255);
    }
}

.svg-elem-13-no {
    -webkit-animation: animate-svg-fill-13-no 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.6s both;
    animation: animate-svg-fill-13-no 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.6s both;
}

@-webkit-keyframes animate-svg-fill-14-no {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(127, 175, 255);
    }
}

@keyframes animate-svg-fill-14-no {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(127, 175, 255);
    }
}

.svg-elem-14-no {
    -webkit-animation: animate-svg-fill-14-no 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.7000000000000002s both;
    animation: animate-svg-fill-14-no 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.7000000000000002s both;
}

@-webkit-keyframes animate-svg-fill-15-no {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(254, 215, 141);
    }
}

@keyframes animate-svg-fill-15-no {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(254, 215, 141);
    }
}

.svg-elem-15-no {
    -webkit-animation: animate-svg-fill-15-no 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.8000000000000003s both;
    animation: animate-svg-fill-15-no 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.8000000000000003s both;
}

@-webkit-keyframes animate-svg-fill-16-no {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(253, 189, 65);
    }
}

@keyframes animate-svg-fill-16-no {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(253, 189, 65);
    }
}

.svg-elem-16-no {
    -webkit-animation: animate-svg-fill-16-no 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.9s both;
    animation: animate-svg-fill-16-no 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.9s both;
}

@-webkit-keyframes animate-svg-fill-17-no {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(253, 189, 65);
    }
}

@keyframes animate-svg-fill-17-no {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(253, 189, 65);
    }
}

.svg-elem-17-no {
    -webkit-animation: animate-svg-fill-17-no 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 2s both;
    animation: animate-svg-fill-17-no 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 2s both;
}

@-webkit-keyframes animate-svg-fill-18-no {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(202, 151, 52);
    }
}

@keyframes animate-svg-fill-18-no {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(202, 151, 52);
    }
}

.svg-elem-18-no {
    -webkit-animation: animate-svg-fill-18-no 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 2.1s both;
    animation: animate-svg-fill-18-no 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 2.1s both;
}

/* shortcut */

/***************************************************
 * Generated by SVG Artista on 12/28/2022, 10:24:00 AM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

@-webkit-keyframes animate-svg-fill-1-sho {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

@keyframes animate-svg-fill-1-sho {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

.svg-elem-1-sho {
    -webkit-animation: animate-svg-fill-1-sho 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.4s both;
    animation: animate-svg-fill-1-sho 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.4s both;
}

@-webkit-keyframes animate-svg-fill-2-sho {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

@keyframes animate-svg-fill-2-sho {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

.svg-elem-2-sho {
    -webkit-animation: animate-svg-fill-2-sho 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.5s both;
    animation: animate-svg-fill-2-sho 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.5s both;
}

@-webkit-keyframes animate-svg-fill-3-sho {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

@keyframes animate-svg-fill-3-sho {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

.svg-elem-3-sho {
    -webkit-animation: animate-svg-fill-3-sho 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.6000000000000001s both;
    animation: animate-svg-fill-3-sho 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.6000000000000001s both;
}

@-webkit-keyframes animate-svg-fill-4-sho {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

@keyframes animate-svg-fill-4-sho {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

.svg-elem-4-sho {
    -webkit-animation: animate-svg-fill-4-sho 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.7000000000000001s both;
    animation: animate-svg-fill-4-sho 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.7000000000000001s both;
}

@-webkit-keyframes animate-svg-fill-5-sho {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

@keyframes animate-svg-fill-5-sho {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

.svg-elem-5-sho {
    -webkit-animation: animate-svg-fill-5-sho 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.8s both;
    animation: animate-svg-fill-5-sho 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.8s both;
}

@-webkit-keyframes animate-svg-fill-6-sho {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

@keyframes animate-svg-fill-6-sho {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

.svg-elem-6-sho {
    -webkit-animation: animate-svg-fill-6-sho 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.9s both;
    animation: animate-svg-fill-6-sho 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.9s both;
}

@-webkit-keyframes animate-svg-fill-7 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

@keyframes animate-svg-fill-7-sho {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

.svg-elem-7-sho {
    -webkit-animation: animate-svg-fill-7-sho 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1s both;
    animation: animate-svg-fill-7-sho 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1s both;
}

@-webkit-keyframes animate-svg-fill-8-sho {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

@keyframes animate-svg-fill-8-sho {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

.svg-elem-8-sho {
    -webkit-animation: animate-svg-fill-8-sho 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.1s both;
    animation: animate-svg-fill-8-sho 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.1s both;
}

@-webkit-keyframes animate-svg-fill-9-sho {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(129, 137, 155);
    }
}

@keyframes animate-svg-fill-9-sho {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(129, 137, 155);
    }
}

.svg-elem-9-sho {
    -webkit-animation: animate-svg-fill-9-sho 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.2000000000000002s both;
    animation: animate-svg-fill-9-sho 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.2000000000000002s both;
}

@-webkit-keyframes animate-svg-fill-10-sho {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(232, 234, 237);
    }
}

@keyframes animate-svg-fill-10-sho {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(232, 234, 237);
    }
}

.svg-elem-10-sho {
    -webkit-animation: animate-svg-fill-10-sho 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.3s both;
    animation: animate-svg-fill-10-sho 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.3s both;
}

@-webkit-keyframes animate-svg-fill-11-sho {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(247, 248, 249);
    }
}

@keyframes animate-svg-fill-11-sho {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(247, 248, 249);
    }
}

.svg-elem-11-sho {
    -webkit-animation: animate-svg-fill-11-sho 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.4s both;
    animation: animate-svg-fill-11-sho 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.4s both;
}

@-webkit-keyframes animate-svg-fill-12-sho {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-12-sho {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-12-sho {
    -webkit-animation: animate-svg-fill-12-sho 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.5s both;
    animation: animate-svg-fill-12-sho 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.5s both;
}

@-webkit-keyframes animate-svg-fill-13-sho {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(41, 121, 255);
    }
}

@keyframes animate-svg-fill-13-sho {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(41, 121, 255);
    }
}

.svg-elem-13-sho {
    -webkit-animation: animate-svg-fill-13-sho 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.6s both;
    animation: animate-svg-fill-13-sho 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.6s both;
}

@-webkit-keyframes animate-svg-fill-14-sho {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-14-sho {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-14-sho {
    -webkit-animation: animate-svg-fill-14-sho 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.7000000000000002s both;
    animation: animate-svg-fill-14-sho 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.7000000000000002s both;
}

@-webkit-keyframes animate-svg-fill-15-sho {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(41, 121, 255);
    }
}

@keyframes animate-svg-fill-15-sho {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(41, 121, 255);
    }
}

.svg-elem-15-sho {
    -webkit-animation: animate-svg-fill-15-sho 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.8000000000000003s both;
    animation: animate-svg-fill-15-sho 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.8000000000000003s both;
}

@-webkit-keyframes animate-svg-fill-16-sho {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(253, 189, 65);
    }
}

@keyframes animate-svg-fill-16-sho {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(253, 189, 65);
    }
}

.svg-elem-16-sho {
    -webkit-animation: animate-svg-fill-16-sho 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.9s both;
    animation: animate-svg-fill-16-sho 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.9s both;
}

@-webkit-keyframes animate-svg-fill-17-sho {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-17-sho {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-17-sho {
    -webkit-animation: animate-svg-fill-17-sho 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 2s both;
    animation: animate-svg-fill-17-sho 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 2s both;
}

/* setting banner */
/***************************************************
 * Generated by SVG Artista on 12/28/2022, 2:55:57 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

@-webkit-keyframes animate-svg-ban-fill-1 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

@keyframes animate-svg-ban-fill-1 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

.svg-ban-elem-1 {
    -webkit-animation: animate-svg-ban-fill-1 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.4s both;
    animation: animate-svg-ban-fill-1 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.4s both;
}

@-webkit-keyframes animate-svg-ban-fill-2 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

@keyframes animate-svg-ban-fill-2 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

.svg-ban-elem-2 {
    -webkit-animation: animate-svg-ban-fill-2 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.5s both;
    animation: animate-svg-ban-fill-2 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.5s both;
}

@-webkit-keyframes animate-svg-ban-fill-3 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

@keyframes animate-svg-ban-fill-3 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

.svg-ban-elem-3 {
    -webkit-animation: animate-svg-ban-fill-3 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.6000000000000001s both;
    animation: animate-svg-ban-fill-3 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.6000000000000001s both;
}

@-webkit-keyframes animate-svg-ban-fill-4 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

@keyframes animate-svg-ban-fill-4 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

.svg-ban-elem-4 {
    -webkit-animation: animate-svg-ban-fill-4 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.7000000000000001s both;
    animation: animate-svg-ban-fill-4 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.7000000000000001s both;
}

@-webkit-keyframes animate-svg-ban-fill-5 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

@keyframes animate-svg-ban-fill-5 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

.svg-ban-elem-5 {
    -webkit-animation: animate-svg-ban-fill-5 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.8s both;
    animation: animate-svg-ban-fill-5 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.8s both;
}

@-webkit-keyframes animate-svg-ban-fill-6 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

@keyframes animate-svg-ban-fill-6 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

.svg-ban-elem-6 {
    -webkit-animation: animate-svg-ban-fill-6 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.9s both;
    animation: animate-svg-ban-fill-6 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.9s both;
}

@-webkit-keyframes animate-svg-ban-fill-7 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

@keyframes animate-svg-ban-fill-7 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

.svg-ban-elem-7 {
    -webkit-animation: animate-svg-ban-fill-7 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1s both;
    animation: animate-svg-ban-fill-7 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1s both;
}

@-webkit-keyframes animate-svg-ban-fill-8 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

@keyframes animate-svg-ban-fill-8 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

.svg-ban-elem-8 {
    -webkit-animation: animate-svg-ban-fill-8 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.1s both;
    animation: animate-svg-ban-fill-8 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.1s both;
}

@-webkit-keyframes animate-svg-ban-fill-9 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

@keyframes animate-svg-ban-fill-9 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

.svg-ban-elem-9 {
    -webkit-animation: animate-svg-ban-fill-9 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.2000000000000002s both;
    animation: animate-svg-ban-fill-9 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.2000000000000002s both;
}

@-webkit-keyframes animate-svg-ban-fill-10 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

@keyframes animate-svg-ban-fill-10 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

.svg-ban-elem-10 {
    -webkit-animation: animate-svg-ban-fill-10 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.3s both;
    animation: animate-svg-ban-fill-10 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.3s both;
}

@-webkit-keyframes animate-svg-ban-fill-11 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

@keyframes animate-svg-ban-fill-11 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

.svg-ban-elem-11 {
    -webkit-animation: animate-svg-ban-fill-11 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.4s both;
    animation: animate-svg-ban-fill-11 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.4s both;
}

@-webkit-keyframes animate-svg-ban-fill-12 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

@keyframes animate-svg-ban-fill-12 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

.svg-ban-elem-12 {
    -webkit-animation: animate-svg-ban-fill-12 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.5s both;
    animation: animate-svg-ban-fill-12 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.5s both;
}

@-webkit-keyframes animate-svg-ban-fill-13 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

@keyframes animate-svg-ban-fill-13 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

.svg-ban-elem-13 {
    -webkit-animation: animate-svg-ban-fill-13 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.6s both;
    animation: animate-svg-ban-fill-13 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.6s both;
}

@-webkit-keyframes animate-svg-ban-fill-14 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

@keyframes animate-svg-ban-fill-14 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(217, 220, 225);
    }
}

.svg-ban-elem-14 {
    -webkit-animation: animate-svg-ban-fill-14 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.7000000000000002s both;
    animation: animate-svg-ban-fill-14 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.7000000000000002s both;
}

@-webkit-keyframes animate-svg-ban-fill-15 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(232, 234, 237);
    }
}

@keyframes animate-svg-ban-fill-15 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(232, 234, 237);
    }
}

.svg-ban-elem-15 {
    -webkit-animation: animate-svg-ban-fill-15 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.8000000000000003s both;
    animation: animate-svg-ban-fill-15 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.8000000000000003s both;
}

@-webkit-keyframes animate-svg-ban-fill-16 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(253, 189, 65);
    }
}

@keyframes animate-svg-ban-fill-16 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(253, 189, 65);
    }
}

.svg-ban-elem-16 {
    -webkit-animation: animate-svg-ban-fill-16 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.9s both;
    animation: animate-svg-ban-fill-16 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.9s both;
}

@-webkit-keyframes animate-svg-ban-fill-17 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-ban-fill-17 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-ban-elem-17 {
    -webkit-animation: animate-svg-ban-fill-17 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 2s both;
    animation: animate-svg-ban-fill-17 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 2s both;
}

@-webkit-keyframes animate-svg-ban-fill-18 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-ban-fill-18 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-ban-elem-18 {
    -webkit-animation: animate-svg-ban-fill-18 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 2.1s both;
    animation: animate-svg-ban-fill-18 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 2.1s both;
}

@-webkit-keyframes animate-svg-ban-fill-19 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-ban-fill-19 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-ban-elem-19 {
    -webkit-animation: animate-svg-ban-fill-19 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 2.2s both;
    animation: animate-svg-ban-fill-19 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 2.2s both;
}

@-webkit-keyframes animate-svg-ban-fill-20 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-ban-fill-20 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-ban-elem-20 {
    -webkit-animation: animate-svg-ban-fill-20 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 2.3000000000000003s both;
    animation: animate-svg-ban-fill-20 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 2.3000000000000003s both;
}

@-webkit-keyframes animate-svg-ban-fill-21 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-ban-fill-21 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-ban-elem-21 {
    -webkit-animation: animate-svg-ban-fill-21 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 2.4s both;
    animation: animate-svg-ban-fill-21 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 2.4s both;
}

@-webkit-keyframes animate-svg-ban-fill-22 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(127, 175, 255);
    }
}

@keyframes animate-svg-ban-fill-22 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(127, 175, 255);
    }
}

.svg-ban-elem-22 {
    -webkit-animation: animate-svg-ban-fill-22 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 2.5s both;
    animation: animate-svg-ban-fill-22 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 2.5s both;
}

@-webkit-keyframes animate-svg-ban-fill-23 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(84, 148, 255);
    }
}

@keyframes animate-svg-ban-fill-23 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(84, 148, 255);
    }
}

.svg-ban-elem-23 {
    -webkit-animation: animate-svg-ban-fill-23 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 2.6s both;
    animation: animate-svg-ban-fill-23 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 2.6s both;
}

@-webkit-keyframes animate-svg-ban-fill-24 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(127, 175, 255);
    }
}

@keyframes animate-svg-ban-fill-24 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(127, 175, 255);
    }
}

.svg-ban-elem-24 {
    -webkit-animation: animate-svg-ban-fill-24 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 2.7s both;
    animation: animate-svg-ban-fill-24 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 2.7s both;
}

@-webkit-keyframes animate-svg-ban-fill-25 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(127, 175, 255);
    }
}

@keyframes animate-svg-ban-fill-25 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(127, 175, 255);
    }
}

.svg-ban-elem-25 {
    -webkit-animation: animate-svg-ban-fill-25 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 2.8000000000000003s both;
    animation: animate-svg-ban-fill-25 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 2.8000000000000003s both;
}

@-webkit-keyframes animate-svg-ban-fill-26 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(41, 121, 255);
    }
}

@keyframes animate-svg-ban-fill-26 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(41, 121, 255);
    }
}

.svg-ban-elem-26 {
    -webkit-animation: animate-svg-ban-fill-26 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 2.9s both;
    animation: animate-svg-ban-fill-26 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 2.9s both;
}

@-webkit-keyframes animate-svg-ban-fill-27 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-ban-fill-27 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-ban-elem-27 {
    -webkit-animation: animate-svg-ban-fill-27 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 3s both;
    animation: animate-svg-ban-fill-27 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 3s both;
}

@-webkit-keyframes animate-svg-ban-fill-28 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-ban-fill-28 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-ban-elem-28 {
    -webkit-animation: animate-svg-ban-fill-28 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 3.1s both;
    animation: animate-svg-ban-fill-28 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 3.1s both;
}

@-webkit-keyframes animate-svg-ban-fill-29 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-ban-fill-29 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-ban-elem-29 {
    -webkit-animation: animate-svg-ban-fill-29 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 3.2s both;
    animation: animate-svg-ban-fill-29 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 3.2s both;
}